body {
	display: flex;
    flex-direction: column;
	height: 100vh;
}

.hidden {
  display: none;
}

#turn {
	font-family: fantasy;
	font-size: 20px;
	text-align: center;
	min-height: 62px;
}

#content {
	display: flex;
	margin: 25px 150px;
	flex-grow: 1;
}

#scoreBoard {
	margin-left: auto;
}

#gameBoard {
	margin-left: auto;
  margin-right: auto;
}

#centerRow {
  font-weight: bold;
}

#result {
  width: 126px;
    height: 296px;
    margin-bottom: 8px;
}

#result.shin {
	background: url(https://i.imgur.com/YyIihu8.png);
}

#result.hei {
	background: url(https://i.imgur.com/v6kDiaL.png);
}

#result.gimel {
	background: url(https://i.imgur.com/jkyeFyf.png);
}

#result.nun {
	background: url(https://i.imgur.com/N2B1h0Q.png);
}

#buttonContainer {
	display: flex;
  flex-direction: column;
}

.button {
 font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 16px;
}

.spinButton {
  width: 170px;
	height: 67px;
	background-color: #fff;
  font-size: 22px;
  margin: 0 auto;
}

.resetButton {
  width: 90px;
	height: 32px;
	background-color: #bfbfbf;
	margin-left: auto;
	margin-top: auto;
	display: block;
}

.autoplayButton {
  width: 90px;
	height: 32px;
	background-color: #bfbfbf;
	margin-top: auto;
	display: block;
}


.spinButton:enabled:hover {
  background-color: lightblue;
  box-shadow: 0px 15px 20px lightgray;
  color: black;
  transform: translateY(-1px);
}

.resetButton:hover {
  background-color: red;
  box-shadow: 0px 15px 20px lightgray;
  color: #fff;
  transform: translateY(-1px);
}

.scrollable {
  height: 12px;
  overflow: hidden;
  position: relative;
	width: 582px;
    margin-left: 297px;
	color: blue;
}

.marquee {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 12px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%); 
  transform:translateX(100%);
  /* Apply animation to this element */ 
  -moz-animation: scroll-left 5s linear infinite;
  -webkit-animation: scroll-left 5s linear infinite;
  animation: scroll-left 5s linear infinite;
  }
  /* Move it (define the animation) */
  @-moz-keyframes scroll-left {
  0% { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
  }
  @-webkit-keyframes scroll-left {
  0% { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
  }
  @keyframes scroll-left {
  0% { 
  -moz-transform: translateX(100%); /* Browser bug fix */
  -webkit-transform: translateX(100%); /* Browser bug fix */
  transform: translateX(100%); 
  }
  100% { 
  -moz-transform: translateX(-100%); /* Browser bug fix */
  -webkit-transform: translateX(-100%); /* Browser bug fix */
  transform: translateX(-100%); 
  }
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.table tr {
    background-color: #f7f7f7;
    color: black;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tr {
    border-bottom: 1px solid #dddddd;
}

.table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.score {
	background-color: #4287f5;
}

.buttonContainer {
	display: flex;
	justify-content: space-between;
}

#dreidel {
  min-width: 400px;
  height: 296px;
	margin: 30px 0;
	display: flex;
    align-items: center;
    justify-content: center;
}

#spunState {
  margin: 0 auto;
}

#result {
  margin: 0 auto;
}

#steady {
  background: url(https://img.icons8.com/plasticine/2x/dreidel.png);
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

#spinning {
  background: url(https://media.giphy.com/media/3oxHQyvrTEfO1TLQCA/giphy.gif);
  height: 300px;
  width: 300px;
  margin: 0 auto;
}
